<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
                .center {
  margin: auto;
  width: fit-content;
  border: 3px solid green;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
table, th, td {
  border: 1px solid black;
  padding: 10px;
}
  </style>

<script>
  function myFunction() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
  
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
  </script>

  <script type="text/javascript">
    $(document).ready(function(){
        var maxLength = 10;
        $(".show-read-more").each(function(){
            var myStr = $(this).text().trim();
            if($.trim(myStr).length > maxLength){
                var newStr = myStr.substring(0, maxLength);
                var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                $(this).empty().html(newStr);
                $(this).append('<a href="javascript:void(0);" class="read-more">...read more</a>');
                $(this).append('<span class="more-text">' + removedStr + '</span>');
            }
        });
        $(".read-more").click(function(){
            $(this).siblings(".more-text").contents().unwrap();
            $(this).remove();
        });
    });
    </script>
    <style type="text/css">
        .show-read-more .more-text{
            display: none;
        }
    </style>
    </head>
    <body class="container">
        <h1>Welcome! {{user}}</h1>
        <a class="btn btn-danger" href='/' style="float: right;">Sign Out</a>
        {% if verified %}
        <div>
            <button type="button" class="btn btn-info " data-toggle="modal" data-target="#myModal">Add New Document</button>
        </div>
        {% if doc %}
        <div class="center">
          <input type="text" class="form-control input-sm" id="myInput" onkeyup="myFunction()" placeholder="Search by name.." style="margin-bottom: 10px;width: 30vh;">
            <table id='myTable'>
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Description
                </th>
                <th>
                  Created At
                </th>
                <th>
                  Updated At
                </th>
                <th>
                  Download
                </th>
                </tr>
                {% for document in doc %}
                <tr>
                  <td style="white-space: nowrap;">
                {{  document.name}}
                  </td>
                  <td>
                    <div class="show-read-more">
                  {{document.description}}</div>
                  </td>
                  <td style="white-space: nowrap;">
                  {{document.created_at}}
                  </td>
                  <td style="white-space: nowrap;">
                  {{document.updated_at}}
                  </td>
                  <td style="white-space: nowrap;">
                  <a href="/download/{{document.id}}" class="btn btn-primary" download>Download</a>
                  </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="center">No Documents to show.</div>
        {% endif %}
        {% else %}
        <div class="alert alert-danger">Please Verify Your Email First!</div>
        {% endif %}
          <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add New Document</h4>
        </div>
        <div class="modal-body">
          <form method="POST" name="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" placeholder="Enter Name" name='name' required>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" class="form-control" id="description" placeholder="Enter Description" name='description' required>
            </div>
            <div class="form-group">
                <label for='document'>Document:</label>
                <input type="file" class="form-control" id="document" placeholder="file" name='document' required>
            </div> 
            <button type="submit" class="btn  btn-default">Submit</button>
          </form>
        </div>
      </div>
      
    </div>
  </div>
    </body>
</html>