<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            .center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

</style>
    </head>
    <body>
        <h1 style="text-align: center;">Login</h1>
        <div class="center">
            <form name="form" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter Email" name='email' required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter Password" name='password' required>
                </div>
                <button type="submit" class="btn  btn-default">Login</button>
            </form>
            {% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} class="warning">{{ message }}</div>
    {% endfor %}
{% endif %}
            <div style="text-align: center;">
                <span>Not Registed? <a href="./signup">Sign Up</a></span>
            </div>
        </div>
    </body>
</html>