<html>
    <head>
        <title>Sign Up</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            .center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
.no-arrow {
  -moz-appearance: textfield;
}
.no-arrow::-webkit-inner-spin-button {
  display: none;
}
.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
      </style>

    </head>
    <body>
        <h1 style="text-align: center;">Sign Up</h1>
<div  class="center">
    
<form name="form" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" placeholder="Enter Name" id="name" name="name" {% if name %} value='{{name}}' {% endif %} required>
      </div>
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email" {% if email %} value='{{email}}' {% endif %} required>
    </div>
    <div class="form-group">
        <label for="phone">Phone Number:</label>
        <input type="number" class="form-control no-arrow" id="phone" placeholder="Enter Phone Number" name="phone" {% if phone %} value='{{phone}}' {% endif %} onKeyPress="if(this.value.length==10) return false;" required>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password" required>
    </div>
    <div class="form-group">
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" class="form-control" id="confirm_password" placeholder="Confirm Password" name="confirm_password" required>
    </div>
    <button type="submit" class="btn  btn-default">Sign Up</button>
</form>
{% if messages %}
    {% for message in messages %} 
    <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
{% endif %}
<div style="text-align: center;">
    <span>Already Registed? <a href="./">Login</a></span>
</div>
</div>
    </body>
    <script>
        var password = document.getElementById("password")
        , confirm_password = document.getElementById("confirm_password");

        function validatePassword(){
        if(password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
        confirm_password.setCustomValidity('');
        }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
</html>